#viewer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  z-index: 100;
}

#viewer.open {
  display: block;
}

#viewer .wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
